<div >
	<h1>Expert System</h1>

	<h5>Knowledgebase + CRUD</h5>
	<!-- Atoms -->
	<div ng-include="'views/firstpartial/atoms.html'"></div>
	
	<!-- Rules -->
	<div ng-include="'views/firstpartial/rules.html'"></div>

	<!-- Factual Basis -->
	<div ng-include="'views/firstpartial/introduction.html'"></div>

	<!-- Factual Basis -->
	<div ng-include="'views/firstpartial/factualbasis.html'"></div>

	<!-- Inference Engine -->
	<div ng-include="'views/firstpartial/inferenceengine.html'"></div>

	<!-- Justification Module -->
	<div ng-include="'views/firstpartial/justificationmodule.html'"></div>

</div>

